* {
  box-sizing: border-box;
  margin: 0px;
  margin-top: 0px;
  padding: 0px;
  font-family: 'Lato';
  font-size: 22px;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100vh;
}

.map {
  height: 300px;
  width: 300px;
}

.search-container {
  height: 300px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input{
  width: 300px;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
}

.satellite-image {
  width: 300px;
}